* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: white;
  font-family: 'Futura', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Futura', sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  text-shadow: 0px -4px 0 #333, 0px -8px 0 #333, 0px -12px 0 #666;
}
p {
  text-align: center;
}

.intro {
  position: fixed;
  left: calc(50vw - 150px);
  width: 300px;
  min-height: 250px;
  top: 30vh;
  font-size: 2em;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.33);
}
.intro > p {
  cursor: pointer;
}
.intro > p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.score {
  color: white;
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.score-popup {
  color: lightgreen;
  position: fixed;
  left: 4rem;
}
